
<div class="urititle">
    {{uri}} <a class="icon-external-link" target="_blank" href="{{uri}}"></a>
</div>

<h3>Predicates associated to this URI as subject: {{subjectData.size}}</h3>
<table class="uri" ng-show="subjectData.size > 0">
    <thead>
    <tr>
        <th ng-repeat="name in subjectData.names">
            {{name}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in subjectData.rows">
        <td>
            <div ng-bind-html="row[0]"></div>
        </td>
        <td>
            <div ng-if="row[1].length > 1">
                <ul>
                    <li ng-repeat="c in row[1]">
                        <span ng-bind-html="c"></span>
                    </li>
                </ul>
            </div>
            <div ng-if="row[1].length == 1">
                <span ng-bind-html="row[1][0]"></span>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<br />

<h3>All subjects in the graph identified by this URI: {{subjectsInGraph.size}}</h3>
<table class="uri" ng-show="subjectsInGraph.size > 0">
    <tbody>
    <tr ng-repeat="row in subjectsInGraph.rows">
        <td ng-repeat="value in row">
            <div ng-bind-html="value"></div>
        </td>
    </tr>
    </tbody>
</table>

<!--<br />

<h3>All triples in the graph identified by this URI:</h3>
<table class="uri" ng-show="graphData.rows.length > 0">
    <thead>
    <tr>
        <th ng-repeat="name in graphData.names">
            {{name}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in graphData.rows">
        <td ng-repeat="value in row">
            &lt;!&ndash;{{value}}&ndash;&gt;
            <div ng-bind-html="value"></div>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="graphData.rows.length == 0">(no triples found)</div>-->

