
<div class="urititle">
 URI: {{uri}} <a class="fa fa-external-link" target="_blank" href="{{uri}}" title="open directly in a new browser window"></a>
</div>

<div ng-show="subjectList.length == 0 && instances.length == 0 && objectList.length == 0 && subjectsInGraph.length == 0">
    <h3>No information found.</h3>
    <h4>
        Click the
        <a class="fa fa-external-link" target="_blank" href="{{uri}}" title="open directly in a new browser window"></a>
        icon to open this link directly in your browser.
    </h4>
</div>


<div ng-show="subjectList.length > 0">
    <h3>Predicates associated to this URI as subject: {{subjectList.length}}</h3>

    <div style="margin-left: 30px">

        <input ng-show="subjectList.length > 10"
                class="form-control ng-valid" type="text" ng-model="subjectListFilter" placeholder="Search">

        <table ng-show="subjectList.length > 0"
               tr-ng-grid=""
               items="subjectList"
               selection-mode="None"
               filter-by="subjectListFilter"
        >
            <thead>
                <tr>
                    <th field-name="predicate" enable-filtering="false"></th>
                    <th field-name="value"     enable-filtering="false"></th>
                </tr>
            </thead>

            <tr>
                <td field-name="predicate" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.predicate"></div>
                </td>
                <td field-name="value">
                    <div ng-bind-html="gridItem.value"></div>
                </td>
            </tr>

            <tfoot style="visibility: hidden"> <tr> <td></td> </tr> </tfoot>

        </table>
    </div>
</div>


<div ng-show="instances.length > 0">
    <h3>Instances of this class: {{instances.length}}</h3>

    <div style="margin-left: 30px">

        <input ng-show="instances.length > 10"
                class="form-control ng-valid" type="text" ng-model="instancesFilter" placeholder="Search">


        <table ng-show="instances.length > 0"
               tr-ng-grid=""
               items="instances"
               selection-mode="None"
               page-items="30"
               enable-filtering="false"
               filter-by="instancesFilter"
        >
            <thead>
                <tr>
                    <th field-name="subject"   enable-filtering="false"></th>
                </tr>
            </thead>

            <tr>
                <td field-name="subject" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.subject"></div>
                </td>
            </tr>

    <!--
            <tfoot>
                <tr>
                    <td colspan="2">
                        <span tr-ng-grid-pager=""></span>
                    </td>
                </tr>
            </tfoot>
    -->

        </table>

    </div>
</div>

<div ng-show="objectList.length > 0">
    <h3>{{instances.length > 0 ? "Other p" : "P"}}redicates having this URI as object: {{objectList.length}}</h3>

    <div style="margin-left: 30px">

        <input ng-show="objectList.length > 10"
                class="form-control ng-valid" type="text" ng-model="objectListFilter" placeholder="Search">


        <table ng-show="objectList.length > 0"
               tr-ng-grid=""
               items="objectList"
               selection-mode="None"
               page-items="30"
               enable-filtering="false"
               filter-by="objectListFilter"
        >
            <thead>
                <tr>
                    <th field-name="subject"   enable-filtering="false"></th>
                    <th field-name="predicate" enable-filtering="false"></th>
                </tr>
            </thead>

            <tr>
                <td field-name="subject" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.subject"></div>
                </td>
                <td field-name="predicate">
                    <div ng-bind-html="gridItem.predicate"></div>
                </td>
            </tr>

        </table>

    </div>
</div>



<div ng-show="triplesInGraph.length > 0">
    <h3>Triples in graph identified by this URI: {{triplesInGraph.length}}</h3>

    <div style="margin-left: 30px">
        <input ng-show="subjectList.length > 10"
                class="form-control ng-valid" type="text" ng-model="triplesInGraphFilter" placeholder="Search">


        <table tr-ng-grid=""
               selection-mode="None"
               items="triplesInGraph"
               page-items="30"
               filter-by="triplesInGraphFilter"
               enable-filtering="false"
        >
            <thead>
                <tr>
                    <th field-name="subject"   enable-filtering="false"></th>
                    <th field-name="predicate" enable-filtering="false"></th>
                    <th field-name="object"    enable-filtering="false"></th>
                </tr>

<!--
                <tr>
                    <th>
                        <span tr-ng-grid-pager=""></span>
                        <span tr-ng-grid-global-filter=""></span>
                    </th>
                </tr>
-->

            </thead>

            <tr>
                <td field-name="subject" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.subject"></div>
                </td>
                <td field-name="predicate" style="white-space: nowrap;">
                    <div ng-bind-html="gridItem.predicate"></div>
                </td>
                <td field-name="object">
                    <div ng-bind-html="gridItem.object"></div>
                </td>
            </tr>

            <!--<tfoot style="visibility: hidden"> <tr> <td></td> </tr> </tfoot>-->

        </table>
    </div>
</div>

<div ng-show="subjectsInGraph.length > 0">
    <h3>{{subjectsInGraph.length}} subject{{subjectsInGraph.length != 1 ? "s" : ""}} in graph identified by this URI:</h3>

    <div style="margin-left: 30px">
        <input ng-show="subjectList.length > 10"
                class="form-control ng-valid" type="text" ng-model="subjectsInGraphFilter" placeholder="Search">


        <table tr-ng-grid=""
               selection-mode="None"
               items="subjectsInGraph"
               page-items="30"
               filter-by="subjectsInGraphFilter"
               enable-filtering="false"
        >
            <thead>
                <tr>
                    <th field-name="subject" enable-filtering="false" enable-sorting="false"></th>
                </tr>

            </thead>

            <tr>
                <td field-name="subject" >
                    <div ng-bind-html="gridItem"></div>
                </td>
            </tr>

            <!--<tfoot style="visibility: hidden"> <tr> <td></td> </tr> </tfoot>-->

        </table>
    </div>
</div>

